.side-bar {
    background-color: var(--primary);
    border-radius: 45px;
    height: 100%;
}

.nav .icon {
    font-size: 20px !important;
}

.active {
    background-color: white;
    color: #2c2c2c;
}

.active .icon {
    color: #ff6161;
}