<div class="side-bar d-flex flex-column text-white justify-content-center">
    <div class="d-flex flex-row justify-content-center align-items-center" style="flex: 2; font-size: 50px">
        <i class="fa-brands fa-pagelines"></i>
    </div>
    <div class="d-flex flex-row justify-content-center" style="flex: 8;">
        <ul class="nav flex-column">
            <li class="my-2 py-2 px-4 d-flex align-items-center rounded-pill active">
                <i class="fa-solid fa-gauge icon"></i>
                <span class="ps-3">Dashboard</span>
            </li>
            <li class="my-2 py-2 px-4 d-flex align-items-center rounded-pill">
                <i class="fa-solid fa-droplet icon"></i>
                <span class="ps-3">Solution</span>
            </li>
            <li class="my-2 py-2 px-4 d-flex align-items-center rounded-pill">
                <i class="fa-brands fa-envira icon"></i>
                <span class="ps-3">Environment</span>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center" style="flex: 1;">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="px-2">Logout</span>
    </div>
</div>